:root {
    // 全局变量
    --dtsz-color-white: #ffffff;

    --dtsz-color-primary-dark: #337ecc;
    --dtsz-color-primary-light-3: #409eff;
    --dtsz-color-primary-light-5: #a0cfff;
    --dtsz-color-primary-light-7: #d9ecff;
    --dtsz-color-primary-light-8: #ecf5ff;

    --dtsz-color-success-dark: #67c23a;
    --dtsz-color-success-light-3: #95d475;
    --dtsz-color-success-light-5: #b3e19d;
    --dtsz-color-success-light-7: #d1edc4;
    --dtsz-color-success-light-8: #e1f3d8;

    --dtsz-color-info-dark: #73767a;
    --dtsz-color-info-light-3: #b1b3b8;
    --dtsz-color-info-light-5: #c8c9cc;
    --dtsz-color-info-light-7: #dedfe0;
    --dtsz-color-info-light-8: #e9e9eb;
    --dtsz-color-info-light-9: #f4f4f5;
    --dtsz-color-info-light-11: #545c64;
    --dtsz-color-info-light-15: rgb(111, 113, 113);

    --dtsz-color-warning-dark: #b88230;
    --dtsz-color-warning-light-3: #eebe77;
    --dtsz-color-warning-light-5: #f3d19e;
    --dtsz-color-warning-light-7: #f8e3c5;
    --dtsz-color-warning-light-8: #faecd8;
    --dtsz-color-warning-light-9: #fdf6ec;

    --dtsz-color-danger-dark: #c45656;
    --dtsz-color-danger-light-3: #f89898;
    --dtsz-color-danger-light-5: #fab6b6;
    --dtsz-color-danger-light-7: #fcd3d3;
    --dtsz-color-danger-light-8: #fde2e2;
    --dtsz-color-danger-light-9: #fef0f0;

    --dtsz-border-color: #dcdfe6;


    --dtsz-border-radius-base: 4px;
    --dtsz-border-radius-small: 2px;
    --dtsz-border-radius-round: 20px;

    --dtsz-transition-duration: .3s;
    --dtsz-mask-color: rgba(255, 255, 255, 0.9);
    --dtsz-loading-spinner-size: 42px;

    --dtsz-transition-duration: .3s;
    --dtsz-mask-color: rgba(255, 255, 255, 0.9);
    --dtsz-loading-spinner-size: 42px;
    --dtsz-overlay-color-lighter: rgba(0, 0, 0, .5);
    --dtsz-bg-color: #ffffff;
    --dtsz-bg-color-page: #f2f3f5;
    --dtsz-bg-color-overlay: #ffffff;
    --dtsz-box-shadow: 0px 12px 32px 4px rgba(0, 0, 0, .04), 0px 8px 20px rgba(0, 0, 0, .08);
    --dtsz-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
    --dtsz-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
    --dtsz-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, .08), 0px 12px 32px rgba(0, 0, 0, .12), 0px 8px 16px -8px rgba(0, 0, 0, .16);
    --dtsz-font-size-large: 18px;
    --dtsz-font-line-height-primary: 24px;
    --dtsz-border-radius-small: 2px;
        --dtsz-box-shadow-light: 0px 0px 12px rgba(0, 0, 0, .12);
            --dtsz-box-shadow-lighter: 0px 0px 6px rgba(0, 0, 0, .12);
--dtsz-border-color-lighter: #ebeef5;
--dtsz-font-size-base: 14px;
    --dtsz-text-color-regular: #606266;
    --dtsz-text-color-primary: #303133;
    --dtsz-text-color-secondary: #909399;
--dtsz-bg-color-overlay: #ffffff;
    --dtsz-transition-duration: .3s;
        --dtsz-transition-duration-fast: .2s;
        --dtsz-transition-function-ease-in-out-bezier: cubic-bezier(.645, .045, .355, 1);
--dtsz-transition-all: all var(--dtsz-transition-duration) var(--dtsz-transition-function-ease-in-out-bezier);
    --dtsz-transition-fade: opacity var(--dtsz-transition-duration) var(--dtsz-transition-function-fast-bezier);
    --dtsz-transition-md-fade: transform var(--dtsz-transition-duration) var(--dtsz-transition-function-fast-bezier), opacity var(--dtsz-transition-duration) var(--dtsz-transition-function-fast-bezier);
    --dtsz-transition-fade-linear: opacity var(--dtsz-transition-duration-fast) linear;
    --dtsz-transition-border: border-color var(--dtsz-transition-duration-fast) var(--dtsz-transition-function-ease-in-out-bezier);
    --dtsz-transition-box-shadow: box-shadow var(--dtsz-transition-duration-fast) var(--dtsz-transition-function-ease-in-out-bezier);
    --dtsz-transition-color: color var(--dtsz-transition-duration-fast) var(--dtsz-transition-function-ease-in-out-bezier);
    --dtsz-color-success: #67c23a;
        --dtsz-color-success-light-3: #95d475;
        --dtsz-color-success-light-5: #b3e19d;
        --dtsz-color-success-light-7: #d1edc4;
        --dtsz-color-success-light-8: #e1f3d8;
        --dtsz-color-success-light-9: #f0f9eb;
        --dtsz-color-success-dark-2: #529b2e;
    --dtsz-color-success-rgb: 103, 194, 58;
        --dtsz-notification-icon-size: 24px;
    --el-color-warning: #e6a23c;
        --el-color-warning-light-3: #eebe77;
        --el-color-warning-light-5: #f3d19e;
        --el-color-warning-light-7: #f8e3c5;
        --el-color-warning-light-8: #faecd8;
        --el-color-warning-light-9: #fdf6ec;
        --el-color-warning-dark-2: #b88230;
    --el-color-warning-rgb: 230, 162, 60;
--el-color-error: #f56c6c;
    --el-color-error-light-3: #f89898;
    --el-color-error-light-5: #fab6b6;
    --el-color-error-light-7: #fcd3d3;
    --el-color-error-light-8: #fde2e2;
    --el-color-error-light-9: #fef0f0;
    --el-color-error-dark-2: #c45656;
    --el-color-error-rgb: 245, 108, 108;

}